/*El CSS es en donde declaro el formato de cada una de las partes que llamé, les doy el color, el tamaño, si quiero que esten en negritas, centradas, etc*/

body {
    background-color: rgb(171,211,246);
    font-size: 18px;
}


h1 {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}


h0 {
    font-size: 18px;
    font-weight: bold;
    
}


legend {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}


button {
    background-color: rgb(235,237,239);
    font-size: 12px;
    width: 200px;
    height: 20px;
}

input {
    width: 250px;
    height: 19px;
}

form {
    font-weight: bold;
    font-size: 14px;
    width: 200px;
    height: 20px;
}

p {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

span{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
p3 {
    color: black;
    font-size: 14px;
	padding-left: 20px; 

}